{% extends 'base.html' %}

{% block content %}


<style>
.horizontal-icons{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  filter: invert(75%);
}

.contact-item{
  float: left;
}

.contact-item a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.contact-item a:hover {
  background-color: #111111;
}

</style>

<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="about-section paddingTB60 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-6">
                <div class="about-title clearfix">
                    <h1>About <span>Me</span></h1>
                    <h3>Saud Almbdal </h3>
                    <p class="about-paddingB">...</p>
                    <p>...</p>

                    <div class="about-icons" > 
                        <ul class="horizontal-icons">
                            <li class="contact-item"> <a href="mailto:s.almbdal@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a> </li>
                            <li class="contact-item"><a href="https://www.facebook.com/saud.almbdal.18/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a> </li>
                            <li class="contact-item"><a href="https://twitter.com/S4udM"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a> </li>
                            
                        </ul>       
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}