{% extends 'base.html' %}
{% load static %}

<!--
<link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">

<h3>Hello World</h3>


-->

{% block content %}

    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body h-100 border-info" id="profile-wrapper" data-aos="fade-right" data-aos-duration="1500">
                    <img id="profile-pic" src="{% static 'images/Saud.jpg' %}" >
                    <hr>
                    <h4>Saud Almbdal</h4>
                    <p>AI And CS student</p>
                </div>
            </div>
            <div class="col-md-9" >
                <div class="card card-body h-100 border-info" data-aos="fade-left" data-aos-duration="1500">
                    <h4> what I’ve enjoyed studying this year </h4>
                    <hr>
                    <p> ........</p>
                    <p> ........</p>
                    <p> ........</p>
                    <p> ........</p>

                </div>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100" data-aos="fade-right" data-aos-duration="1500">
                    <h4> The upcoming academic year.</h4>
                    <hr>
                    <p>........</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100" data-aos="fade-left" data-aos-duration="1500">
                    <h4> Description of how Django works.</h4>
                    <hr>
                    <p>........</p>
                </div>
            </div>
        </div>
        <br>
        <!--
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body"></div>
            </div>
            <div class="col-md-6">
                <div class="card card-body"></div>
            </div>
        </div>
        <br>
        -->
    </div>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
{% endblock %}