{% load static %}

<!--
<link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">

<h3>Hello World</h3>


-->

<!DOCTYPE html>
<html>
<head>
    <title>Saud Almbdal</title>
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body h-100 border-info" id="profile-wrapper">
                    <img id="profile-pic" src="{% static 'images/Saud.jpg' %}" >
                    <hr>
                    <h4>Saud Almbdal</h4>
                    <p>AI And CS student</p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body h-100 border-info">
                    <h4> what I’ve enjoyed studying this year </h4>
                    <hr>
                    <p> ........</p>
                    <p> ........</p>
                    <p> ........</p>
                    <p> ........</p>

                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h4> The upcoming academic year.</h4>
                    <hr>
                    <p>........</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h4> Description of how Django works.</h4>
                    <hr>
                    <p>........</p>
                </div>
            </div>
        </div>
        <br>
        <!--
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body"></div>
            </div>
            <div class="col-md-6">
                <div class="card card-body"></div>
            </div>
        </div>
        <br>
        -->
    </div>

</body>
</html>