<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Temp</h5>
        <p>Thanks for visiting my page</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Projects</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">empty</a>
          </li>
          <li>
            <a href="#!">empty</a>
          </li>
          <li>
            <a href="#!">empty</a>
          </li>
          <li>
            <a href="/projects">All</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Find Me</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://www.twitter.com/Saud4M">Twitter</a>
          </li>
          <li>
            <a href="https://www.facebook.com/saud.almbdal.18/">FaceBook</a>
          </li>
          <li>
            <a href="/contact">LinkedIn</a>
          </li>
          <li>
            <a href="https://wa.me/447378634033">WhatsApp</a>
          </li>
        </ul>

      </div>


      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">


    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <hr>

</footer>
<!-- Footer -->