
body{
    background-color: #DCDCDC!important;
}

#profile-wrapper{
    text-align: center;
}

#profile-pic{
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

ul{
    padding: 0;
    list-style-type: none;
}
